
@{
    ViewBag.Title = "Zombie Broccoli";
    Layout = "~/Areas/App/Views/_LayoutMain.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/bootstrap.css")    
}

<!doctype html>
<html ng-app="myApp">
    <head>
        <meta name="viewport"content="width=device-width, initial-scale=1" />
        <title>Title</title>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/app"></script>
        <script src="http://msucs491-spring17-assignment2.azurewebsites.net/api/item/:itemId"></script>
    </head>

    <body ng-controller="listController" >
        <header class="container-fluid">
            <h1>Grocery Inventory</h1>
        </header class="container-fluid">
        <div class="container-fluid">
            <div>
                <h2>Logs</h2>
                <p ng-repeat="note in notes">
                    <code>{{note}}</code>
                </p>
            </div>
            
            <div>
                <h2>Response</h2>
                <pre>{{one_item | json}}</pre>
            </div>
            <div>
                <h2>Locations</h2>
                <p ng-repeat="location in locations">
                    <code>{{location}}</code>
                </p>
            </div>
            <div class="col-md-12">
                <article>
                    <h2>Food List</h2>
                    <div>
                        <label for="filter" class="control-label">Filter Results</label>
                        <input class="form-control"
                               ng-model="filter.One" type="text"
                               placeholder="Filter..." />
                        <label for="filter" class="control-label">Filter Results 2</label>
                        <input class="form-control"
                               ng-model="filter.Two" type="text"
                               placeholder="Filter..." />
                        <input type="button" ng-click="cancelAlert()" value="Cancel 10 Second Alert" />
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Expires</th>
                                <th>Time until Expires</th>
                                <th>Locations</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.expires}}</td>
                                <td>{{item.expires}}</td>
                                <td>{{item.location}}</td>
                                <td><a href="#">Edit</a> <a href="#">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>


            <footer class="container-fluid">
                <p>Melody Tribble 2017</p>
            </footer>
        </div>

        @section scripts{
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap") 
            @Scripts.Render("~/bundles/angular")   
            @Scripts.Render("~/bundles/app")


        }

    </body ng-controller="listController">

</html>


