<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta name="viewport"content="width=device-width, initial-scale=1" />
        <title>I'm Hungry</title>
        @Styles.Render("~/Content/css")

        
    </head>

    <body ng-controller="listController" >
        <header class="container-fluid">
            <h1>Grocery Inventory</h1>
        </header class="container-fluid">
        <div class="container-fluid">
            <div class="alert alert-info">
                <p>Sort Type: {{ sortType }}</p>
                <p>Sort Reverse: {{ sortReverse }}</p>
                <p>Search Query: {{ searchFridge }}</p>

            </div>
            <div>
                <h2>Response</h2>
                <pre>{{item | json}}</pre>
            </div>
            <div>
            </div>
            <div >
                <article>
                    <h2>Food List</h2>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search da Fridge" ng-model="searchFridge">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered table-striped table-responsive table-hover">
                        <thead>
                            <tr>
                                <td>
                                    <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                        Name
                                        <span ng-show="sortType== 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Name' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Description'; sortReverse = !sortReverse">
                                        Description
                                        <span ng-show="sortType == 'Description' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Description' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Quantity'; sortReverse = !sortReverse">
                                        Quantity
                                        <span ng-show="sortType== 'Quantity' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Quantity' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Expires'; sortReverse = !sortReverse">
                                        Expires
                                        <span ng-show="sortType== 'Expires' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Expires' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Expires'; sortReverse = !sortReverse">
                                        Use By
                                        <span ng-show="sortType== 'Expires' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Expires' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'LocationID'; sortReverse = !sortReverse">
                                        Location
                                        <span ng-show="sortType== 'LocationID' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'LocationID' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>Actions</td>
                            </tr> 
                        </thead>
                        <tbody >
                            <tr ng-repeat="item in items.Items | orderBy:sortType:sortReverse | filter:searchFridge">
                                <td>{{item.Name}}</td>
                                <td>{{item.Description}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{item.Expires}}</td>
                                <td>{{item.Expires}}</td>
                                <td>{{item.LocationID}}</td>
                                <td><a href="#">Edit</a> <a href="#">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>


            <footer class="container-fluid">
                <p>Melody Tribble 2017</p>
            </footer>
        </div class="container-fluid">

       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap") 
        @Scripts.Render("~/bundles/angular")   
        @Scripts.Render("~/bundles/app")


        

    </body>

</html>


