<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>I'm Hungry</title>
        @Styles.Render("~/Content/css")  
    </head>

    <body ng-controller="listController">
        <header class="container-fluid">
            <h1>Grocery Inventory</h1>
        </header>
        <div class="container-fluid" >
            @*<div class="alert alert-info">
                <p>Sort Type: {{ sortType }}</p>
                <p>Sort Reverse: {{ sortReverse }}</p>
                <p>Search Query: {{ searchFridge }}</p>

            </div>*@
            <div>
                <article>
                    <h2>Food List</h2>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Item</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Item Details</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="add_item_form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="item_name">Item:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="item_name"
                                                       placeholder="Enter item name"
                                                       ng-model="itemName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="item_description">Description:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="item_description"
                                                       placeholder="Enter description"
                                                       ng-model="itemDescription">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="item_quantity">Quantity:</label>
                                                <input type="number"
                                                       class="form-control"
                                                       id="item_quantity"
                                                       placeholder="Enter a quantity"
                                                       ng-model="itemQuantity">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="item_expiration">Expires:</label>
                                                <input type="text"
                                                       onfocus="(this.type='date')"
                                                       class="form-control"
                                                       id="item_expiration"
                                                       placeholder="Enter an expiration date"
                                                       ng-model="itemExpires">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="item_location">Location:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="item_location"
                                                       placeholder="Enter a location"
                                                       ng-model="itemLocation">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="addItem()" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                                    <button type="button" class="btn btn-default" id="itemAddButton" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Trigger the location modal with a button -->

                    <!-- Location Modal -->
                    <div id="anotherModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Location Details</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="add_location_form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="location_name">Location:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="location_name"
                                                       placeholder="Enter location"
                                                       ng-model="locationName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label for="location_description">Description:</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="location_description"
                                                       placeholder="Enter description"
                                                       ng-model="locationDescription">
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="location_id">LocationID:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="location_id"
                                                           placeholder="Enter location id"
                                                           ng-model="locationID">
                                                </div>
                                            </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="addLocation()" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <form id="search_form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search da Food"
                                       ng-model="searchFridge">
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                        Name
                                        <span ng-show="sortType== 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Name' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'Description'; sortReverse = !sortReverse">
                                        Description
                                        <span ng-show="sortType == 'Description' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Description' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'Quantity'; sortReverse = !sortReverse">
                                        Quantity
                                        <span ng-show="sortType== 'Quantity' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Quantity' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'Expires'; sortReverse = !sortReverse">
                                        Expires
                                        <span ng-show="sortType== 'Expires' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Expires' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'Expires'; sortReverse = !sortReverse">
                                        Use By
                                        <span ng-show="sortType== 'Expires' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'Expires' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="sortType = 'LocationID'; sortReverse = !sortReverse">
                                        Location
                                        <span ng-show="sortType== 'LocationID' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType== 'LocationID' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items.Items | orderBy:sortType:sortReverse | filter:searchFridge" id="item_{{item.ID}}">
                                <td>{{item.Name}}</td>
                                <td>{{item.Description}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{item.Expires}}</td>
                                <td>{{item.Expires}}</td>
                                <td>{{locationsByID[item.LocationID].Name}}</td>
                                <td>
                                    <span ng-click="editItem(item)" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit" id="edit-item"></i></span>
                                    <span ng-click="deleteItem(item)"><i class="glyphicon glyphicon-remove"></i></span> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <h2>Location Information</h2>
            <button type="button" class="btn btn-info btn-lg" id="locationAddButton" data-toggle="modal" data-target="#anotherModal">Add Location</button>
            <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>ID</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="location in locations.Items" id="location_{{location.ID}}">
                            <td>{{location.Name}}</td>
                            <td>{{location.Description}}</td>
                            <td>{{location.ID}}</td>
                            <td>
                                <span ng-click="editLocation(location)" data-toggle="modal" data-target="#anotherModal"><i class="glyphicon glyphicon-edit" id="edit-location"></i></span>
                                <span ng-click="deleteLocation(location)"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                        </tr>
                </tbody>
            </table>
            <a ng-click="show_more()">Show more</a> 


                            <footer class="container-fluid">
                                <p>Melody Tribble 2017</p>
                            </footer>
        </div>

       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap") 
        @Scripts.Render("~/bundles/angular")   
        @Scripts.Render("~/bundles/app")

    </body>

</html>


